/*////////////////////////////////////////////
	FONTS
////////////////////////////////////////////*/

@font-face{
	font-family: gotham-light;
	src: url(../fonts/Gotham-Light.otf);
}

@font-face{
	font-family: gotham-medium;
	src: url(../fonts/Gotham-Medium.otf);
}

@font-face{
	font-family: gotham-bold;
	src: url(../fonts/Gotham-Bold.otf);
}

@font-face{
	font-family: janson;
	src: url(../fonts/JansonTextLTStd-Roman.otf);
}

@font-face{
	font-family: janson;
	src: url(../fonts/JansonTextLTStd-Bold.otf);
	font-weight: bold;
}

@font-face{
	font-family: janson;
	src: url(../fonts/JansonTextLTStd-BoldItalic.otf);
	font-weight: bold;
	font-style: italic;
}

@font-face{
	font-family: janson;
	src: url(../fonts/JansonTextLTStd-Italic.otf);
	font-style: italic;
}

body{
	background-image: url(../img/background-text.jpg);
	background-repeat: repeat repeat;
}

.container{
	width: 960px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;

	padding: 0px;
	background-color: white;
}

.container > div{
	
}

/*////////////////////////////////////////////
	HEADER
////////////////////////////////////////////*/

.header{
	background-color: #a2c17d;
	background-image: url(../img/grass.png);
	background-position: left center;
	background-repeat: no-repeat;
	height: 160px;
	border: 5px white solid;

	-webkit-box-shadow: inset 0px -3px 20px -1px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px -3px 20px -1px rgba(0,0,0,0.5);
	box-shadow: inset 0px -3px 20px -1px rgba(0,0,0,0.5);

}

.header > img{
	float: left;
	padding-top: 25px;
	padding-left: 80px;
}

.header > div{
	float: right;
	padding-top: 53px;
	padding-right: 70px;
	color: white;
	width: 260px;
}

.header > div p{
	margin: 0px;
	font-family: janson;
	font-weight: bold;
	font-size: 1.25em;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.75);
}

.header > div a{
	margin: 0px;
	font-family: janson;
	font-weight: bold;
	font-size: 1.25em;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.75);
	color: white;
	text-decoration: none;
	position: relative;
	top: 15px;
}

.header > div img{
	float: left;
	margin-top: -3px;
	padding-right: 4px;
}

/*////////////////////////////////////////////
	MAIN-CONTENT
////////////////////////////////////////////*/

.main-content{
	overflow: auto;
	border-left: 5px white solid;
	border-right: 5px white solid;
	background-image: url(../img/vine.png);
	background-repeat: no-repeat;
	background-position: 32% 120%;

	color: #7a5023;
}

.main-content > div{
	text-align: center;
	float: left;
	width: 50%;
}

.main-content h2{
	font-family: janson;
	font-style: italic;
	font-weight: normal;
	font-size: 2.5em;
	margin-top: 25px;
	margin-bottom: 25px;
}

.main-content h3{
	font-family: janson;
	font-style: italic;
	font-weight: normal;
	font-size: 1.75em;
	margin-top: 50px;
}

.main-content p{
	font-family: gotham-light;
	line-height: 1.75;
}

.main-content > img{
	float: right;
	width: 50%;
}

.main-content .content-head{
	border-top: 2px #7a5023 dotted;
	border-bottom: 2px #7a5023 dotted;
	width: 376px;
	margin: 50px auto;
}

.main-content .content-body{
	width: 370px;
	margin: 50px auto;
}

/*////////////////////////////////////////////
	SERVICES DESCRIPTION
////////////////////////////////////////////*/

.services{
	background-color: #6aaec8;
	border: 5px white solid;
	border-top: 0px;

	color: white;

	overflow: auto;
	padding-bottom: 35px;
}

.services .services-list{
	width: 50%;
	float: left;
	text-align: center;
}

.services .services-list h4{
	font-family: janson;
	font-style: italic;
	font-weight: normal;
	font-size: 1.5em;
}

.services .services-list img{
	width: 376px;
	border: 3px white solid;
}

.services .services-body{
	width: 50%;
	float: right;
	border-top: 4px white solid;
	margin-top: 47px;
	padding-top: 28px;
}

.services .services-body p{
	font-family: gotham-light;
	line-height: 2;
	padding-right: 20px;
}

.services .services-body p:last-child{
	font-family: gotham-medium;
	padding-right: 20px;
}

.footer{
	width: 960px;
	margin-top: 40px;
	padding-bottom: 40px;
	color: #7a5023;
	margin-left: auto;
	margin-right: auto;
}

.footer p{
	font-family: gotham-bold;
	font-size: .75em;

	text-align: center;
}

.footer p{
	float: left;
}

.footer p:last-child{
	float: right;
}

.footer a{
	font-family: gotham-bold;
	font-size: .75em;
	color: inherit;
	text-decoration: none;

	display: block;
	text-align: center;
	padding-bottom: 20px;
}